h1
  font-size: 2rem

.buscador  
  input
    border: 2px solid #0066ff
    border-radius: 40px
    color: #0066ff
    font-size: 20px
    padding: 4px 16px
    text-align: center
    background-color: inherit
    font-family: Montserrat
  input:focus
    outline: 2px solid #ff7045

.buscador-dark
  input
    border: 2px solid $letra-dark
    border-radius: 40px
    color: $letra-dark
    font-size: 20px
    padding: 4px 16px
    text-align: center
    background-color: inherit
    font-family: Montserrat
  input:focus
    outline: 2px solid #ff7045

.title-clave
  margin-top: 0.4rem
  font-size: 1.3rem
  margin-bottom: -0.5rem

.epigrafe
  padding: 1rem
  font-size: 1.1rem

.space-fill
  flex-grow: 1

.instrucciones
  font-size: 1.4rem
  .title
    font-size: 1.7rem
    font-weight: 600

footer
  display: flex
  width: 100%
  justify-content: space-between
  aling-items: center

.boton-idioma-contenedor
  button
    padding: 0.2rem 0.5rem
    font-size: 1rem
    border: 2px solid #0066ff
    border-radius: 40px
    background-color: inherit
    color: #0066ff
    cursor: pointer
  button:hover, button:focus
    background-color: #0066ff
    color: white

.boton-idioma-contenedor-dark
  button
    padding: 0.2rem 0.5rem
    font-size: 1rem
    border: 2px solid $letra-dark
    border-radius: 40px
    background-color: inherit
    color: $letra-dark
    cursor: pointer
  button:hover, button:focus
    background-color: $letra-dark
    color: transparent
